PORT=4600
HOST=0.0.0.0
NODE_CONFIG_PATH=./config/nodes.local.json
CNQS_PQS_APP_PROVIDER_URL=postgres://cnadmin:supersafe@localhost:5432/participant-app-provider
CNQS_PQS_APP_USER_URL=postgres://cnadmin:supersafe@localhost:5432/participant-app-user
CNQS_PQS_SV_URL=postgres://cnadmin:supersafe@localhost:5432/participant-sv
CNQS_PQS_EXTRA_1_URL=postgres://cnadmin:supersafe@localhost:5432/participant-extra-1
CNQS_PQS_EXTRA_2_URL=postgres://cnadmin:supersafe@localhost:5432/participant-extra-2
CNQS_PQS_EXTRA_3_URL=postgres://cnadmin:supersafe@localhost:5432/participant-extra-3
